[Desktop Entry]
Name=CosmicSnip
GenericName=Screenshot Tool
Comment=Capture, annotate, and copy screenshots on COSMIC Desktop
Exec=cosmicsnip
TryExec=cosmicsnip
DBusActivatable=true
Icon=io.github.itssoup.CosmicSnip
Type=Application
Categories=Graphics;GTK;
Keywords=screenshot;snip;capture;annotate;clip;wayland;cosmic;
StartupNotify=false
Actions=capture

[Desktop Action capture]
Name=Take Screenshot
Exec=cosmicsnip
